@{
    ViewData["Title"] = "Home Page";
}
<label style="text-align:center" class="alert-info">@ViewBag.username</label>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/logo.jpg" alt="Blossom Buds" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                  Know More About US
                    <a class="btn btn-default" href="https://www.facebook.com/BlossomBuds.Ahmedabad/?rf=134063683941794">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
     
    </div>
</div>
